export PATH=$PATH:/home/peti/.local/bin
export PATH=$PATH:/usr/lib/ruby/gems/3.0.0
export PATH=$PATH:/home/peti/.gem/ruby/3.0.0
export PATH=$PATH:/Projects/Contrib/dmenumoji/dmenu

mopidy -q &
export SUDO_ASKPASS="$HOME/.local/bin/dpass"

eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK
